/* Root layout CSS */
.layoutNav{

  display: flex;
  justify-content: space-between;
  max-height: 75px;
  z-index: 10;
}

.navUserSection:nth-child(2){
  justify-content: flex-end;
  padding-right: 1%;
}


.navUserSection{
  display: flex;
  
  
}

.navUserSection > div{
  display: flex;
  padding: 3%;
  flex-wrap: nowrap;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  align-items: center;
}

/* Root page css */

.ndHeadings{
  text-align: center;
  font-size: xx-large;
}

.loadingWrapper{
  display: flex;
  justify-items: center;
}