
/* Gmap css */


    .markerTextSnippet{
        
        color: black;
        background-color: rgb(190, 189, 189);
       
        width: 120px;
        
    }

    .findLabel{
        padding: 0 2px 0 2px;
    }

    .editButton{
        width: 10px;
    }