

@tailwind base;
@tailwind components;
@tailwind utilities;


:root,  .radix-themes:is(.light, .light-theme) {
  --green-1: #fbfefa;
  --green-2: #f5fbf3;
  --green-3: #e7f8e0;
  --green-4: #d7f3cc;
  --green-5: #c5ebb6;
  --green-6: #afe09d;
  --green-7: #93d17a;
  --green-8: #69bc42;
  --green-9: #3b8900;
  --green-10: #2c7b00;
  --green-11: #328100;
  --green-12: #233f17;

  --green-a1: #33cc0005;
  --green-a2: #2baa000c;
  --green-a3: #3ac6001f;
  --green-a4: #37c30033;
  --green-a5: #35ba0049;
  --green-a6: #2faf0062;
  --green-a7: #30a70085;
  --green-a8: #35a500bd;
  --green-a9: #3b8900;
  --green-a10: #2c7b00;
  --green-a11: #328100;
  --green-a12: #0d2c00e8;

  --green-contrast: #fff;
  --green-surface: #f3faf0cc;
  --green-indicator: #3b8900;
  --green-track: #3b8900;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .radix-themes:is(.light, .light-theme) {
      --green-1: oklch(99.4% 0.0068 137.2);
      --green-2: oklch(98.2% 0.0124 137.2);
      --green-3: oklch(96% 0.037 137.2);
      --green-4: oklch(93.4% 0.0591 137.2);
      --green-5: oklch(90% 0.0813 137.2);
      --green-6: oklch(85.7% 0.1044 137.2);
      --green-7: oklch(79.8% 0.1327 137.2);
      --green-8: oklch(71.8% 0.177 137.2);
      --green-9: oklch(55.8% 0.1698 137.2);
      --green-10: oklch(51.3% 0.1698 137.2);
      --green-11: oklch(53.1% 0.1698 137.2);
      --green-12: oklch(33.3% 0.0727 137.2);

      --green-a1: color(display-p3 0.4118 0.8039 0.0196 / 0.02);
      --green-a2: color(display-p3 0.2 0.6471 0.0196 / 0.044);
      --green-a3: color(display-p3 0.2784 0.7255 0.0039 / 0.114);
      --green-a4: color(display-p3 0.2745 0.7333 0.0078 / 0.189);
      --green-a5: color(display-p3 0.251 0.6941 0.0039 / 0.267);
      --green-a6: color(display-p3 0.2431 0.6549 0.0039 / 0.361);
      --green-a7: color(display-p3 0.2353 0.6157 0.0039 / 0.487);
      --green-a8: color(display-p3 0.2392 0.5961 0 / 0.671);
      --green-a9: color(display-p3 0.1961 0.451 0 / 0.855);
      --green-a10: color(display-p3 0.1569 0.4 0 / 0.875);
      --green-a11: color(display-p3 0.1686 0.4196 0 / 0.863);
      --green-a12: color(display-p3 0.0588 0.149 0 / 0.891);

      --green-contrast: #fff;
      --green-surface: color(display-p3 0.9569 0.9804 0.9451 / 0.8);
      --green-indicator: oklch(55.8% 0.1698 137.2);
      --green-track: oklch(55.8% 0.1698 137.2);
    }
  }
}

.dark, .data-theme:is(.dark, .dark-theme) {
  --green-1: #70766e;
  --green-2: #6d756a;
  --green-3: #6f7e69;
  --green-4: #6f8567;
  --green-5: #708a66;
  --green-6: #709064;
  --green-7: #729764;
  --green-8: #74a163;
  --green-9: #B0F291;
  --green-10: #97e676;
  --green-11: #72e73b;
  --green-12: #d1fac1;

  --green-a1: #4096386e;
  --green-a2: #458f3e6e;
  --green-a3: #599e536e;
  --green-a4: #80c27a6e;
  --green-a5: #97c9936e;
  --green-a6: #b7d6b46e;
  --green-a7: #cde0cb6e;
  --green-a8: #e4f7e36e;
  --green-a9: #a5ff84dd;
  --green-a10: #a4ff85c7;
  --green-a11: #b0ff94e6;
  --green-a12: #d7ffc9f5;

  --green-contrast: #182613;
  --green-surface: #276d00;
  --green-indicator: #97ef72;
  --green-track: #97ef72;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --green-1: oklch(55.8% 0.0149 137.3);
      --green-2: oklch(55.1% 0.0196 137.3);
      --green-3: oklch(57.5% 0.0358 137.3);
      --green-4: oklch(59.1% 0.0507 137.3);
      --green-5: oklch(60.4% 0.0622 137.3);
      --green-6: oklch(61.8% 0.0736 137.3);
      --green-7: oklch(63.6% 0.0857 137.3);
      --green-8: oklch(66.1% 0.1011 137.3);
      --green-9: oklch(86.9% 0.1817 137.3);
      --green-10: oklch(83.8% 0.1817 137.3);
      --green-11: oklch(88.9% 0.1632 137.3);
      --green-12: oklch(94.1% 0.0863 137.3);

      --green-a1: color(display-p3 0.6941 0.3373 1 / 0.34);
      --green-a2: color(display-p3 0.6824 0.3137 1 / 0.322);
      --green-a3: color(display-p3 0.7294 0.4235 1 / 0.322);
      --green-a4: color(display-p3 0.7451 0.4941 1 / 0.317);
      --green-a5: color(display-p3 0.7804 0.5569 1 / 0.312);
      --green-a6: color(display-p3 0.8 0.6314 0.9961 / 0.308);
      --green-a7: color(display-p3 0.8431 0.7216 1 / 0.312);
      --green-a8: color(display-p3 0.8941 0.8471 1 / 0.312);
      --green-a9: color(display-p3 0.7333 1 0.5686 / 0.85);
      --green-a10: color(display-p3 0.7255 1 0.5686 / 0.767);
      --green-a11: color(display-p3 0.7686 1 0.6275 / 0.884);
      --green-a12: color(display-p3 0.8784 1 0.8078 / 0.95);

      --green-contrast: #182613;
      --green-surface: color(display-p3 0.549 0.3804 0.6824 / 0.5);
      --green-indicator: oklch(86.9% 0.1817 137.3);
      --green-track: oklch(86.9% 0.1817 137.3);
    }
  }
}

:root, .light, .light-theme, .radix-themes {
  --gray-1: #fcfcfd;
  --gray-2: #f9f9fb;
  --gray-3: #eff0f3;
  --gray-4: #e7e8ec;
  --gray-5: #e0e1e6;
  --gray-6: #d8d9e0;
  --gray-7: #cdced7;
  --gray-8: #b9bbc6;
  --gray-9: #8b8d98;
  --gray-10: #80828d;
  --gray-11: #62636c;
  --gray-12: #1e1f24;

  --gray-a1: #00005503;
  --gray-a2: #00005506;
  --gray-a3: #00104010;
  --gray-a4: #000b3618;
  --gray-a5: #0009321f;
  --gray-a6: #00073527;
  --gray-a7: #00063332;
  --gray-a8: #00083046;
  --gray-a9: #00051d74;
  --gray-a10: #00051b7f;
  --gray-a11: #0002119d;
  --gray-a12: #000107e1;

  --gray-contrast: #FFFFFF;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8b8d98;
  --gray-track: #8b8d98;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme, .radix-themes {
      --gray-1: oklch(99.1% 0.0015 277.7);
      --gray-2: oklch(98.2% 0.003 277.7);
      --gray-3: oklch(95.6% 0.0045 277.7);
      --gray-4: oklch(93.1% 0.0061 277.7);
      --gray-5: oklch(91% 0.0077 277.7);
      --gray-6: oklch(88.8% 0.0093 277.7);
      --gray-7: oklch(85.3% 0.0117 277.7);
      --gray-8: oklch(79.4% 0.016 277.7);
      --gray-9: oklch(64.6% 0.0165 277.7);
      --gray-10: oklch(61% 0.0161 277.7);
      --gray-11: oklch(50.3% 0.0139 277.7);
      --gray-12: oklch(24.1% 0.0099 277.7);

      --gray-a1: color(display-p3 0.0235 0.0235 0.349 / 0.012);
      --gray-a2: color(display-p3 0.0235 0.0235 0.349 / 0.024);
      --gray-a3: color(display-p3 0.0078 0.0667 0.2549 / 0.063);
      --gray-a4: color(display-p3 0.0118 0.051 0.2157 / 0.095);
      --gray-a5: color(display-p3 0.0039 0.0392 0.2 / 0.122);
      --gray-a6: color(display-p3 0.0039 0.0275 0.1804 / 0.153);
      --gray-a7: color(display-p3 0.0078 0.0275 0.1843 / 0.197);
      --gray-a8: color(display-p3 0.0039 0.0314 0.1765 / 0.275);
      --gray-a9: color(display-p3 0.0039 0.0196 0.1059 / 0.455);
      --gray-a10: color(display-p3 0.0039 0.0196 0.098 / 0.499);
      --gray-a11: color(display-p3 0 0.0078 0.0588 / 0.616);
      --gray-a12: color(display-p3 0 0.0039 0.0275 / 0.883);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.6% 0.0165 277.7);
      --gray-track: oklch(64.6% 0.0165 277.7);
    }
  }
}

:is(.dark, .dark-theme), :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --gray-1: #999b98cb;
  --gray-2: #999c98c0;
  --gray-3: #a4a5a3c0;
  --gray-4: #9a9c99c0;
  --gray-5: #9fa19db4;
  --gray-6: #c1c4c0ad;
  --gray-7: #d8dad3b4;
  --gray-8: #d5daccad;
  --gray-9: #c8cac493;
  --gray-10: #d9ddd66b;
  --gray-11: #e6e9df;
  --gray-12: #ffffff;

  --gray-a1: #c1d8b56c;
  --gray-a2: #b9c9b1c7;
  
  --gray-a3: #acc2a042;
  --gray-a4: #b9cfae10;
  --gray-a5: #38850e1f;
  --gray-a6: #d6e6cd77;
  --gray-a7: #d7e2d148;
  --gray-a8: #cfdfc748;
  --gray-a9: #ccdac43a;
  --gray-a10: #d2e0ca1a;
  --gray-a11: #d7e4d009;
  --gray-a12: #c5d8ba00;

  --gray-contrast: #FFFFFF;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #8b8c89a2;
  --gray-track: #8b8c89;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      
        --gray-1: #999b98cb;
        --gray-2: #999c98c0;
        --gray-3: #a4a5a3c0;
        --gray-4: #9a9c99c0;
        --gray-5: #9fa19db4;
        --gray-6: #c1c4c0ad;
        --gray-7: #d8dad3b4;
        --gray-8: #d5daccad;
        --gray-9: #c8cac493;
        --gray-10: #d9ddd66b;
        --gray-11: #e6e9df;
        --gray-12: #ffffff;
      
        --gray-a1: #c1d8b56c;
        --gray-a2: #b9c9b1c7;
        
        --gray-a3: #acc2a042;
        --gray-a4: #b9cfae10;
        --gray-a5: #38850e1f;
        --gray-a6: #d6e6cd77;
        --gray-a7: #d7e2d148;
        --gray-a8: #cfdfc748;
        --gray-a9: #ccdac43a;
        --gray-a10: #d2e0ca1a;
        --gray-a11: #d7e4d009;
        --gray-a12: #c5d8ba00;
      
        --gray-contrast: #FFFFFF;
        --gray-surface: rgba(0, 0, 0, 0.05);
        --gray-indicator: #c2c4bea2;
        --gray-track: #c2c4be;
      
    }
  }
}



:root, .light, .light-theme, .radix-themes:is(.light, .light-theme) {
  --color-background: #fff;
  --color-panel: #fff
}

:is(.dark, .dark-theme), :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #0f0f0f;
  --color-panel: #0f0f0f;
}



.radix-themes {
  --my-brand-color: #307c00;
  --green-8: var(--my-brand-color);
  --green-a8: var(--my-brand-color);
}


