/* Root layout CSS */


.layoutNav{
 background-color: var(--color-panel);
  display: flex;
  justify-content: space-between;
  max-height: 75px;
  z-index: 10;
  position: relative;
  width: 100vw;
}


.navUserSection:nth-child(2){
  width: 30%;
  justify-content: flex-end;
  padding-right: 1%;
}


.navUserSection{
  display: flex;
  justify-content: flex-start;
  width: 30%;
  
}

.navUserSection > div{
  display: flex;
  padding: 3%;

  text-wrap: nowrap;
  align-items: center;
}


.homeLogo{
  font-size: 34px;
 
}

/* Root page css */

.rootPageSection{
  position: relative;
}

.logoWrapper{
  position: relative;
}

.ndHeadings{
  text-align: center;
  font-size: xx-large;
}

.loadingWrapper{
  margin-top: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* splash css */

.spanwrapper{
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

}

.spaninside{
  background-image: url('/images/AdobeStock_291533500.jpeg');
  background-repeat: no-repeat;
  background-position: top;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;


}

@media only screen and (max-width: 450px) {

  .navUserSection > div{
    
    padding: 2%;
  }

    .logoContainer{
    display: none;
  }

  .homeLogo{
    font-size: 26px;
  }
  
}
