.uploadFormWrapper{
    position: absolute;
    top: 30%;
    z-index: 1;
    border-radius: 2px;
    background-color: gray;
}

.uploadFileButton{

    margin-bottom: 2%;
}

.uploadFormInfoHover{
    z-index: 2;
}

/* Css for Edit Image Form */

.EditFormWrapper{

    position: absolute;
    top: 30%;
    left: 70%;
    z-index: 1;
    border-radius: 2px;
    background-color: var(--green-11);

}

.cardColor{
    background-color: var(--green-7);
    border: solid 1px var(--green-12) ;
}

.hiddenInput{
    display: none;
}

@media screen and (max-width: 450px) {
    
    .EditFormWrapper{
        left: 40%;
    
    }

}